In [21]:
!pip install reportlab

Requirement already satisfied: reportlab in c:\users\harshini koppuravuri\appdata\local\programs\python\python313\lib\site-packages (4.4.2)
Requirement already satisfied: pillow>=9.0.0 in c:\users\harshini koppuravuri\appdata\local\programs\python\python313\lib\site-packages (from reportlab) (11.2.1)
Requirement already satisfied: charset-normalizer in c:\users\harshini koppuravuri\appdata\local\programs\python\python313\lib\site-packages (from reportlab) (3.4.2)

In [22]:
import pandas as pd
from reportlab.lib.pagesizes import A4
from reportlab.platypus import SimpleDocTemplate, Table, TableStyle, Paragraph, Spacer
from reportlab.lib.styles import getSampleStyleSheet
from reportlab.lib import colors

In [23]:
# 1. Load data
df = pd.read_csv(r"C:\Users\Harshini Koppuravuri\Downloads\archive (3)\combined_employee_dataset_1.csv")

In [24]:
# 2. Optional: Examine structure
print(df.head())
print(df.columns)

   age  years_experience education_level department  performance_score  \
0   58                23     High School    Finance                 10
1   48                39        Bachelor         HR                  6
2   34                15     High School         HR                  5
3   27                29             PhD         HR                  4
4   40                36             PhD    Finance                  2

  performance_category
0            Excellent
1                 Good
2              Average
3              Average
4                 Poor
Index(['age', 'years_experience', 'education_level', 'department',
       'performance_score', 'performance_category'],
      dtype='object')

In [25]:
df.isna().sum()

age                     0
years_experience        0
education_level         0
department              0
performance_score       0
performance_category    0
dtype: int64

In [29]:
# Group by 'department' and summarize 'performance_score'
summary = df.groupby('department').agg({
    'performance_score': ['count', 'mean', 'max', 'min']
}).reset_index()

# Flatten column names
summary.columns = ['Department', 'Count', 'Average Score', 'Max Score', 'Min Score']
summary

  Department  Count  Average Score  Max Score  Min Score
0    Finance    187       5.716578         10          1
1         HR    178       5.292135         10          1
2      Sales    221       5.371041         10          1
3       Tech    205       5.604878         10          1

In [31]:
from reportlab.platypus import SimpleDocTemplate, Table, TableStyle, Paragraph, Spacer
from reportlab.lib.pagesizes import A4
from reportlab.lib import colors
from reportlab.lib.styles import getSampleStyleSheet

def generate_pdf(df, filename="performance_report.pdf"):
    doc = SimpleDocTemplate(filename, pagesize=A4)
    styles = getSampleStyleSheet()
    elements = []

    elements.append(Paragraph("Department Performance Summary", styles["Title"]))
    elements.append(Spacer(1, 12))

    data = [df.columns.tolist()] + df.values.tolist()
    table = Table(data)
    table.setStyle(TableStyle([
        ('BACKGROUND', (0, 0), (-1, 0), colors.grey),
        ('TEXTCOLOR', (0, 0), (-1, 0), colors.whitesmoke),
        ('GRID', (0, 0), (-1, -1), 0.5, colors.black),
        ('ALIGN', (0, 0), (-1, -1), 'CENTER'),
        ('BACKGROUND', (0, 1), (-1, -1), colors.beige),
    ]))

    elements.append(table)
    doc.build(elements)
    print("PDF saved as:", filename)

generate_pdf(summary)

PDF saved as: performance_report.pdf